@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
    color: #0f1f1c;
}

:root {
--container-width: 1270px;
--container-padding: 15px;
--secondary:rgba(15, 31, 28, 0.5);
}

.none {
    display: none !important;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
} 

  .container-right {
padding-left: calc( (100% - var(--container-width))/2 + var(--container-padding) );
}


.container-left {
    padding-right: calc( (100% - var(--container-width))/2 + var(--container-padding) );
    }

.block{
    height: 200px;
    background-color: coral;
}

/*Header*/

.header {
overflow: hidden;
position: relative;
min-height: 940px;
padding-top: 44px;
background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
color:#fff;
}

.header a {
color: #fff;
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;
    background-image: url(./../imj/header/header-bottom.svg);
    background-size: 100%;
   

}

.header__top {
    margin-bottom: 86px;
}

.header__row {
    display: flex;

}

.header__content {
    max-width: 592px;
    position: relative;
    z-index: 1;
}

.header__imj {
    position: relative;
    flex-grow: 1;
}

.header__imj img {
    position: absolute;
    /* top: 0;
    right: 0; */
    top: -181px;
    right: -87px;
    max-width: unset;
    width: 894px;
    height: 940px;
}
/*Nav*/
.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
}

.nav__list {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500;
}

.nav__list a {
    position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after
{
content: "";
position: absolute;
left: 0;
right: 10px;
bottom: -6px;
display: block;
height: 4px;
background-color:#C4C4C4;
border-radius: 4px;
}

.nav__login {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: 17px;
    font-weight: 500;
}

.logo {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

.logo a {
    color: inherit;
}
/* Button  */

.btn {
    display: inline-block;
    padding:14px 44px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.btn:hover {
    color: rgba(245, 229, 7, 0.973);
    transition: color 0.2s ease-in;
}

.btn:active{
    position: relative;
    top: 1px;
}
/*Header content */
.header__badge {
    margin-bottom: 7px;
    display: inline-block;
    padding: 11px 30px;
    font-size: 18px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
}
.header__title {
    font-size: 50px;
    margin-bottom: 30px;
}
.header__text {
    margin-bottom: 68px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    max-width: 519px;
}
.header__btn {
    display: inline-block;
    padding: 27px 48px;
    font-size: 25px;
    font-weight: 500;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
}

.header__btn:hover {
    color: rgba(245, 229, 7, 0.973);
    transition: color 0.2s ease-in;
}

.header__btn:active{
    position: relative;
    top: 1px;
}
/*Destinations */


.destinations {
    padding:96px 0 100px;
    overflow-x: hidden;

}

.destinations__row {
    display: flex;
    column-gap: 50px;
}
.destinations_content {
    max-width: 456px;
}

.destinations__slider {
    width: 1110px;
    flex-shrink: 0 ;
}

.destinations__title {
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: 600;
    
}

.destinations__title span {
    font-size: 30px;
}

.destinations__text {
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary);
    min-width: 456px;

}


.btn {
    display: inline-block;
    padding: 25px 45px;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
}

.btn:hover {
    color: rgba(245, 229, 7, 0.973);
    transition: color 0.2s ease-in;
}

.btn:active {
    position: relative;
    top: 1px;}

    /* Slider*/

    .slider {
        position: relative;
        height: 456px;
    }
    .slider__item {
        margin-top: 27px;
        width: 335px;
        height: 402px;
        object-fit: cover;
        border-radius: 35px;
        transition: 0.2s ease-in;
    }

    .slider .center .slider__item{
         margin-top: 0;
         width: 380px;
         height: 456px;
    }

    .slider__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        
        z-index: 9;

display: block;
width: 68px;
height: 68px;
border-radius: 50%;
display: flex;
/* justify-content: center; */

align-items: center;
background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .slider__btn-prev
{
    
    left: -27px;
    justify-content: flex-start;
    padding-left: 26px;
  
    
}

.slider__btn-next{
    padding-right: 26px;
    justify-content: flex-end;
    right: -27px;
}